div.card{
    border-radius: 0.3em;
    min-height: 30vh;
    min-width: 260px;
    max-height: 50vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255);
    padding: 1%;
}
div.card:hover{
    cursor: pointer;
}

div.card img{
    max-width: 12vw;
    max-height: 20vw;
}

div.card h5{
    text-transform: capitalize;
    margin: 5px;
}

div.card h4{
    text-align: center;
}

div.card p.card-price{
    background-color: #169269;
    color: white;
    padding: 4px;
    text-align: center;
    border-radius: 0.3em;
    margin: 10px;
}

div.card .ver-mas{
    text-decoration: none;
    color: white;
    background-color: rgb(148, 154, 155);
    border-radius: 0.3em;
    padding: 5px;
    text-align: center;
}


