*{
    box-sizing: border-box;
    margin: 0;
}

div.cargando{
    margin: auto;
    font-size: large;
    font-weight: bold;
}

div.card-detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    height: 100%;
}

div.detail1{    /*Parte de la imagen*/
    height: 95%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

div.detail1 h4{
    margin-left: 40px;
}

div.detail1 img{
    padding: 10px;
    max-width: 90%;
    max-height: 80%;
}


div.detail2{      /*parte de la descripcion y contador*/
    height: 95%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
}

p.description{
    margin-bottom: 10px;
    background-color: rgb(237, 139, 19);
    border-radius: 0.15em;
    font-weight: bold;
    padding: 3px;
    color: white;
    text-align: center;
    width: 11vw;
}

.prod-arriba{
    margin-bottom: auto;
}

.detail-price{
    background-color: #169269;
    padding: 3px;
    color: white;
    border-radius: 0.2em;
    width: 11vw;
    text-align: center;
    margin-top: 10px;
}

.btn2{
    margin: 5px;
    width: 25%;
    border: none;
    border-radius: 0.2em;
    height: 30px;
    background-color: rgb(214, 214, 214);
}

.btn2:hover{
    transform: scale(1.05);
    cursor: pointer;
    font-size: 90%;
}